<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h2>welcome salah-eddine your amail => : <%= email %>  change password if you want :</h2>
  <form method="post">
    <label for="password">password</label>
    <input type="password" name="password" id="password">
    <button type="submit">send Code</button>
  </form>
</body>
</html>